<!DOCTYPE html>

<html lang="en" ng-app="index">
<head>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
<script src="static/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">

<script src="static/js/index.js"></script>
<link rel="stylesheet" href="static/css/gamelog.css">
<title>CS1010S: The Hungry Games II</title>
</head>

<body ng-controller="indexController">
<div class="container">
    <h1 class="text-center">The Hungry Games II</h1>
    <hr>

    <div ng-repeat="groupedData in indexData" class="group">
        <h2>{{groupedData.name}}</h2>
        <div ng-repeat="split in groupedData.data" class="row index-row">
            <div ng-repeat="group in split" class="col-md-4">
                <div class="game">
                    <h3 class="game-name center">Game </h3>
                    <ul class="score-list center">
                        <li ng-repeat="score in group.scores" ng-class="{winner: $index < groupedData.highlight}">{{score[0]}}</li>
                    </ul>
                    <p class="center">
                        <a class="btn btn-default" href="gamelog?game={{group.file}}">View Game Log</a>
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-md-12 text-center">
        CS1010S 2014/2 &middot; <a href="/">Hungry Games</a> &middot; <a target="_blank" href="https://github.com/soedar">Soedarsono</a>
        </div>
    </div>
</footer>

</body>

</html>
